spring:
  application:
    name: gateway
  cloud:
    discovery:
      enabled: true
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/login/**
          filters:
            - RewritePath=/login/(?<segment>.*), /${segment}
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**
          filters:
            - RewritePath=/products/(?<segment>.*), /${segment}
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/**
          filters:
            - RewritePath=/orders/(?<segment>.*), /${segment}

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka  # A URL do Eureka
#      defaultZone: http://eureka:8761/eureka/
#      defaultZone: ${EUREKA_CLIENT_SERVICE_URL}
