spring:
  application:
    name: auth-service
server:
  port: 8083
eureka:
  client:
    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/
#      defaultZone: http://eureka:8761/eureka/
        defaultZone: ${EUREKA_CLIENT_SERVICE_URL}